<head>
    <meta charset="UTF-8">
    <meta name="author" content="Birlogeanu Andrei-Cristian">
    <meta name="description" content="Lame de Oțel oferă săbii forjate, spade europene, katane japoneze și echipamente pentru pasionații de HEMA și arme albe istorice.">
    <meta name="keywords" content="săbii, spade, katane, HEMA, arme albe, colecție de săbii, oțel carbon, magazin arme">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#332B2B">
    <title><%- locals.titlu || "Lama de Oțel - Săbii și Spade Istorice" %></title>
    <link rel="stylesheet" href="/resurse/css/general.css">
    <link rel="icon" type="image/png" href="/resurse/Imagini/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/resurse/Imagini/favicon/favicon.svg">
    <link rel="shortcut icon" href="/resurse/Imagini/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/resurse/Imagini/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/resurse/Imagini/favicon/site.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/resurse/css/nav.css">
    <link rel="stylesheet" href="/resurse/css/print.css" media="print">
</head>
