<header>
    <h1>Lama de Oțel - Săbii Istorice</h1>

    <nav>
        <input type="checkbox" id="ch-menu" class="hidden">
        <label for="ch-menu" id="hamburger"><i class="fa-solid fa-bars"></i></label>
        <ul class="meniu">
            <li id="opt-acasa">
                <a href="#top">
                    <i class="fa-solid fa-house" id="icon-acasa-burger"></i>
                    <span class="fa-solid fa-house icon-main"></span><span class="text-optiune">Acasă</span>
                </a>
                <ul class="submeniu">
                    <li><a href="/index#bun-venit">Bun venit</a></li>
                    <li><a href="/index#produse">Produse și Categorii</a></li>
                    <li><a href="/index#evenimente">Evenimente HEMA</a></li>
                    <li><a href="/index#orar">Orar Magazin</a></li>
                </ul>
            </li>
            <li id="opt-galerii">
                <a href="#">
                    <span class="fa-solid fa-images icon-main"></span><span class="text-optiune">Galerii</span>
                </a>
                <ul class="submeniu">
                    <li><a href="#">Galerie Statică</a></li>
                    <li><a href="#">Galerie Dinamică</a></li>
                </ul>
            </li>
            <li id="opt-catalog">
                <a href="/catalog">
                    <span class="fa-solid fa-khanda icon-main"></span><span class="text-optiune">Catalog Complet</span>
                </a>
            </li>
            <li id="opt-contact">
                <a href="/contact">
                    <span class="fa-solid fa-envelope icon-main"></span><span class="text-optiune">Contact</span>
                </a>
            </li>
            <li id="opt-despre">
                <a href="/despre">
                    <span class="fa-solid fa-users icon-main"></span><span class="text-optiune">Despre noi si FAQ</span>
                </a>
            </li>
        </ul>
    </nav>
    <div id="date-utilizator">
        <% if (locals.ip) { %>
            <p>Adresa ta IP: <%= locals.ip %></p>
        <% } %>
    </div>
</header>
